.div-navBar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(250, 181, 53);
    height: 120px;
}

.logo img {
    width: 100px;
    height: 100px;
}

.div-link {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.div-link a {
    font-size: 20px;
    font-weight: 600;
    margin: 40px;
    text-decoration: none;
    color: white;
}

.img-carrito {
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin: 5px;
    padding: 25px;
}